<div class="hgroup">
    <% if (name=="hero" ) { %>
        <h1 class="large-title d-flex align-items-center mb-0">Hi, I'm Volkan <img class="ms-2"
                src="/public/images/sunglasses.svg" alt=""></h1>
        <h2 class="sub-text"><span>I make everything</span> like a boss.</h2>

        <% } %>
            <% if (name=="about" ) { %>
                <h1 class="large-title d-flex align-items-center mb-0">About<img src="/public/images/lips.png" alt="">
                </h1>
                <h2 class="sub-text"><span>Wanna see</span> the moon?</h2>
                <% } %>
                    <% if(name=="contact" ) { %>
                        <h1 class="large-title d-flex align-items-center mb-0">Contact<img class="ms-2"
                                src="/public/images/retro-contact.svg" alt=""></h1>
                        <h2 class="sub-text"><span>Just tell me..</span> What you want...</h2>
                        <% } %>
</div>