<%- include("./layout/head.ejs") %>

    <body class="h-100 bg-black">
        <div class="container h-100 overflow-hidden bg-white">
            asdasdd
        </div>
        <%- include("./layout/footer.ejs") %>