/* ======================== */
/* ======================== */
/* CORMORANT */
/* ======================== */
/* ======================== */
@font-face {
    font-family: "cormorant-light";
    src: url("/public/fonts/cormorant/Cormorant-Light.ttf");
}

@font-face {
    font-family: "cormorant-light-italic";
    src: url("/public/fonts/cormorant/Cormorant-LightItalic.ttf");
}

@font-face {
    font-family: "cormorant-regular";
    src: url("/public/fonts/cormorant/Cormorant-Regular.ttf");
}

@font-face {
    font-family: "cormorant-italic";
    src: url("/public/fonts/cormorant/Cormorant-Italic.ttf");
}
@font-face {
    font-family: "cormorant-medium";
    src: url("/public/fonts/cormorant/Cormorant-Medium.ttf");
}

@font-face {
    font-family: "cormorant-medium-italic";
    src: url("/public/fonts/cormorant/Cormorant-MediumItalic.ttf");
}

@font-face {
    font-family: "cormorant-semibold";
    src: url("/public/fonts/cormorant/Cormorant-SemiBold.ttf");
}

@font-face {
    font-family: "cormorant-semibold-italic";
    src: url("/public/fonts/cormorant/Cormorant-SemiBoldItalic.ttf");
}

@font-face {
    font-family: "cormorant-bold";
    src: url("/public/fonts/cormorant/Cormorant-Bold.ttf");
}

@font-face {
    font-family: "cormorant-bold-italic";
    src: url("/public/fonts/cormorant/Cormorant-BoldItalic.ttf");
}

/* ======================== */
/* ======================== */
/* ROBOTO */
/* ======================== */
/* ======================== */
@font-face {
    font-family: "roboto-thin";
    src: url("/public/fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: "roboto-thin-italic";
    src: url("/public/fonts/roboto/Roboto-ThinItalic.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("/public/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-light-italic";
    src: url("/public/fonts/roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("/public/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-italic";
    src: url("/public/fonts/roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("/public/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-medium-italic";
    src: url("/public/fonts/roboto/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("/public/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-bold-italic";
    src: url("/public/fonts/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "roboto-black";
    src: url("/public/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "roboto-black-italic";
    src: url("/public/fonts/roboto/Roboto-BlackItalic.ttf");
}