<script src="/public/scripts/popper.js/popper.min.js"></script>
<script src="/public/scripts/bootstrap/bootstrap.min.js"></script>

<script src="/public/scripts/jquery/jquery-3.6.0.js"></script>
<script src="/public/scripts/tilt.js/tilt.min.js"></script>
<script src="/public/scripts/loadingScreen.js/loadingScreen.js"></script>
<script src="/node_modules/toastr/build/toastr.min.js"></script>
<script src="/public/scripts/custom/index.js"></script>
</body>

</html>